<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.mapper.BoardMapper">
	
	<resultMap type="boardDto" id="boardmap">
		<result column="board_id" property="boardId" />
		<result column="user_id" property="userId" />
		<result column="festival_id" property="festivalId" />
		<result column="regist_date" property="registerTime" />
		<result column="file_ori_name" property="fileOriName" />
		<result column="file_save_name" property="fileSaveName" />
		<result column="file_path" property="filePath" />
	</resultMap>
	
	<resultMap type="boardDto" id="boarddetailmap">
		<result column="board_id" property="boardId" />
		<result column="user_id" property="userId" />
		<result column="festival_id" property="festivalId" />
		<result column="regist_date" property="registerTime" />
		<result column="file_ori_name" property="fileOriName" />
		<result column="file_save_name" property="fileSaveName" />
		<result column="file_path" property="filePath" />
		
		<result column="comment_id" property="commentId" />
		<result column="comment_content" property="commentContent" />
		<result column="comment_userid" property="commentUserId" />
		<result column="comment_registtime" property="commentRegisterTime" />
	</resultMap>
	
	
	<insert id="writeArticle" parameterType="boardDto">
		insert into board (title, content, user_id, festival_id, file_path,file_ori_name,file_save_name,cate,regist_date)
		values (#{title}, #{content},#{userId}, #{festivalId},#{filePath},#{fileOriName},#{fileSaveName},#{cate}, now())
	</insert>
	
	<select id="listArticle" parameterType="map" resultMap="boardmap">
		select board_id, title, content, user_id, festival_id, date_format(regist_date,'%Y-%m-%d') regist_date,file_path,file_ori_name,file_save_name,cate
		from board
		<choose>
			<when test="cate.equals('deal')">
				where cate like 'deal'
			</when>
			<when test="cate.equals('hugi')">
				where cate like 'hugi'
			</when>
		</choose>
		order by regist_date
		limit #{start}, #{viewPage}
	</select>
	
	<select id="totalArticleCount" parameterType="string" resultType="int">
		select count(board_id)
		from board
		<choose>
			<when test="cate.equals('deal')">
				where cate like 'deal'
			</when>
			<when test="cate.equals('hugi')">
				where cate like 'hugi'
			</when>
		</choose>
	</select>
	
	<select id="getArticle" parameterType="int" resultMap="boardmap">
		select board_id,title, content, user_id, festival_id, date_format(regist_date,'%Y-%m-%d') regist_date,file_path,file_ori_name,file_save_name, cate
		from board
		where board_id = #{boardId}
	</select>
	
	<select id="getArticleDetail" parameterType="int" resultMap="boarddetailmap">
		select b.board_id,b.title, b.content, b.user_id, b.festival_id, date_format(b.regist_date,'%Y-%m-%d') regist_date,b.file_path,b.file_ori_name,b.file_save_name, b.cate,
		c.comment_id, c.user_id comment_userid, c.content comment_content , date_format(c.regist_date,'%Y-%m-%d') comment_registtime
		from board b left outer join comment c on b.board_id=c.board_id
		where b.board_id = #{boardId}
	</select>
	
	<update id="modifyArticle" parameterType="boardDto">
		update board
		set cate=#{cate}, title = #{title}, content=#{content},regist_date = now()
		<if test="filePath!=null">
			,file_path=#{filePath}, file_ori_name=#{fileOriName},file_save_name=#{fileSaveName}
		</if>
		where board_id = #{boardId}
	</update>
	
	<delete id="deleteArticle" parameterType="int">
		delete from board
		where board_id = #{boardId}
	</delete>	
</mapper>