<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.comment.mapper.CommentMapper">
	
	<resultMap type="commentDto" id="commentmap">
		<result column="comment_id" property="commentId" />
		<result column="board_id" property="boardId" />
		<result column="user_id" property="userId" />
		<result column="regist_date" property="registerTime" />
	</resultMap>
	
	<insert id="writeComment" parameterType="commentDto">
		insert into comment (board_id, user_id, content, regist_date)
		values (#{boardId},#{userId}, #{content},now())
	</insert>
	
	<select id="listComment" parameterType="map" resultMap="commentmap">
		select comment_id, board_id, user_id, content, date_format(regist_date,'%Y-%m-%d') regist_date
		from comment
		where board_id = #{boardId}
	</select>
	
	<select id="getComment" parameterType="string" resultMap="commentmap">
		select comment_id, board_id, user_id, content, date_format(regist_date,'%Y-%m-%d') regist_date
		from comment
		where comment_id = #{commentId}
	</select>
	
	<delete id="deleteComment" parameterType="string">
		delete from comment
		where comment_id=#{commentId}
	</delete>
	
	<select id="totalCommentCount" resultType="int">
		select count(comment_id)
		from comment
	</select>
</mapper>