<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.favor.mapper.FavorMapper">

	<resultMap type="favorDto" id="favormap">
		<result column="user_id" property="userId" />
		<result column="festival_id" property="festivalId" />
		
		<result column="festival_name" property="festivalName" />
		<result column="festival_content" property="festivalContent" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="phone_number" property="phoneNumber" />
		<result column="origin_image" property="originImage" />
		<result column="thumb_image" property="thumbnailImage" />
		<result column="org_name" property="orgName" />
	</resultMap>
	
	<delete id="favorDelete" parameterType="map">
		Delete from Favor 
		where user_id = #{userId} 
		<if test="festivalId != null">
			and festival_id = #{festivalId}
		</if>
	</delete>
	
	<insert id="favorAdd" parameterType="map">
		insert into favor (user_id,festival_id) values(#{userId},#{festivalId})
	</insert>
	
	<select id="favorList" parameterType="string" resultMap="favormap">
		select s.user_id, s.festival_id, f.festival_name, f.festival_content, f.start_date, f.end_date, f.phone_number, f.homepage, f.lat, f.lng, f.address, f.origin_image, f.thumb_image, f.org_name
		from favor s join festival f on s.festival_id=f.festival_id
		where user_id= #{userId}
	</select>
	
</mapper>